<div class="row">
<div class="col-sm-6">
    <canvas id="calorieChart" width="400" height="400"></canvas>
</div>

<div class="col-sm-6">
    <canvas id="macroChart" width="400" height="400"></canvas>

</row>

<script>

var chartData = 
    {
        type: 'bar',
        data: {
            labels: [] //code in above floating week
            ,
            datasets: [{
                label: 'Weekly Activity',
                data: [], //load data via Ajax call below
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    }

    var ctx = document.getElementById('calorieChart').getContext('2d');
    
    var daysLabelsArray = [];
    

    var myChart;

    DrawCalorieBarGraph();
     

        function DrawCalorieBarGraph(){
               //need to make a second call to get data in JSON format so can programme in to chart object
               /*
                $.get("/api/food/calories/daily", (results ={}) =>{
                    let d = results.data;
                    if (!d || !d.dailyCalories){  
                        //need smooth exit for graph              
                        return;
                    }
                    d.dailyCalories.forEach(activity =>{
                     
                        if(isNaN(activity.activityTrackDistanceMetres)) //check undefined, null,etc and put 0
                        {
                            chartData.data.datasets[0].data.push(0);
                        }
                        else
                        {
                            chartData.data.datasets[0].data.push(activity.activityTrackDistanceMetres);
                        }
                    }); //forEach

                    loadLabels();

                    myChart = new Chart(ctx,chartData);  
                }); //get
                */
                
        }

        function getDaysOfWeekLabels(){
            var dayOfWeekLabels = [];

            var tmpDate = new Date();
            
            var i;

            tmpDate.setDate(tmpDate.getDate()-7); //start a week ago

            for(i=0;i<7;i++)
            { 
                var tmpDayString = tmpDate.toString().split(' ')[0]; 
                dayOfWeekLabels.push(tmpDayString);
                tmpDate.setDate(tmpDate.getDate() + 1); //advance to next
            }
            
            return dayOfWeekLabels;
        }
        function loadLabels()
        {
            daysLabelsArray = getDaysOfWeekLabels();
            daysLabelsArray.forEach(dayLabel =>{
            chartData.data.labels.push(dayLabel);
    });
        }
    </script>
</div>

<div class="row">
    <div class="col-sm-12">

       

              <script type="text/javascript">
                 
                 window.onload = (event) => {
                    
                    getNutrientsTotals();
                   getNutrients();
                };

                function getNutrientsTotals(){
                    //    let strDate = (e.date).toISOString().substring(0,10); //get year yyyy-mm-dd
                        
                    let strDate = "2020-07-23"; //get year yyyy-mm-dd

                    let stringAPIEndpointTotals = "/api/food_nutrients_totals/"+strDate;
                    console.log("About to call to: "+stringAPIEndpointTotals);

                    $.get(stringAPIEndpointTotals, (results ={}) =>{
                    

                    let data = results.data;
                    if (!data || !data.foodItems){                
                    return;
                    }                        
                    
                    }); //AJAX call
                }
                            
                  function getNutrients()
                  {     
                        console.log("about to call GET api/food_nutrients/dates/");

                        let frequency = "day";

                        var stringAPIEndpoint = "/api/food_nutrients/dates/"+frequency;
                        
                        $.get(stringAPIEndpoint, (results ={}) =>{
                         
                          //clear down table rows
                          var table = document.getElementById("myTable");
                          var rowCount = CountRows(); //dont want to delete headers
                          for(i=0;i<rowCount;i++){
                                table.deleteRow(-1);
                          }
                         
                          let data = results.data;
                         if (!data || !data.foodItems){                
                            return;
                          }
                                     
                            data.foodItems.forEach(foodItem => {
                             
                              var row = table.insertRow(-1);
                 
                              var cell1 = row.insertCell(0); 
                              var cell2 = row.insertCell(1);
                              var cell3 = row.insertCell(2);
                              var cell4 = row.insertCell(3);
                              var cell5 = row.insertCell(4);
          
                              cell1.innerHTML = "<a href=`/foodItems/"+foodItem._id+">"+foodItem.foodName+"</a>";   
                              cell2.innerHTML = foodItem.foodQuantity;
                              cell3.innerHTML = foodItem.foodUnits;
                              cell4.innerHTML = "Edit";
                              cell5.innerHTML = "Delete";
                            }) //forEach
                            
                        }); //AJAX call

                  } //function
                
                  function generateTableHead(table, data) {
                      let thead = table.createTHead();
                      let row = thead.insertRow();
                      for (let key of data) {
                        let th = document.createElement("th");
                        let text = document.createTextNode(key);
                        th.appendChild(text);
                        row.appendChild(th);
                      } //for
                  } //for
          
                  function generateTable(table, data) {
                    for (let element of data) {
                      let row = table.insertRow();
                      for (key in element) {
                          let cell = row.insertCell();
                          let text = document.createTextNode(element[key]);
                          cell.appendChild(text);
                      } //for
                    } //for
                  } //function
          
                   function CountRows() {
                      var totalRowCount = 0;
                      var rowCount = 0;
                      var table = document.getElementById("myTable");
                      var rows = table.getElementsByTagName("tr")
                      for (var i = 0; i < rows.length; i++) {
                          totalRowCount++;
                          if (rows[i].getElementsByTagName("td").length > 0) {
                              rowCount++;
                          }
                      }
                      return rowCount;
                  }
              </script>


        <table class="table table-striped" id="myTable">
            <thead>
            <tr>
                <th>Description</th>
                <th>Amount</th>
                <th>Units</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            
            <% if(typeof(foodItems)=="undefined")
            {}
            else { %>
                <% foodItems.forEach(foodItem => { %>
                <tr>
                <td>
                    <a href="<%= `/foodItems/${foodItem._id}` %>">
                    <%= foodItem.foodName %>
                    </a>
                </td>
                <td>
                    <%= foodItem.foodQuantity %>
                </td>
                <td>
                    <%= foodItem.foodUnits %>
                </td>
                <td>
                    <a href="<%=`foodItems/${foodItem._id}/edit`%>">
                    Edit
                    </a>
                </td>
                <td>
                    <a href="<%= `foodItems/${foodItem._id}/delete?_method=DELETE` %>" onclick="return confirm('Are you sure you want to delete this record?')">Delete</a>
                </td>
                </tr>
                <% }); %>
            <% } %> 
            </tbody>
        </table>
    </div> <!--Row-->           
</div> <!--Row-->
