<div class="col-sm-6"> <!--calander control-->
  <div style="overflow:hidden;">
    <div class="form-group">
        <div class="row">
            <div class="col-md-8">
                <div id="datetimepicker" onDateChange="dIt()"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
       
        $(function () {
            $('#datetimepicker').datetimepicker({
                inline: true,
                showTodayButton: true
            });
            $('#datetimepicker').on('dp.change', function(e){ 
              console.log(e.date); 
              //var tblBody = document.getElementById("diary_entries");
            
             var strDate = (e.date).toISOString().substring(0,10); //get year yyyy-mm-dd
             alert(strDate);
              var stringEndpoint = "/api/food/"+strDate;
         //     $.get("/api/food/2020-04-01", (results ={}) =>{
              $.get(stringEndpoint, (results ={}) =>{
               
                //clear down table rows
                var table = document.getElementById("myTable");
                var rowCount = CountRows(); //dont want to delete headers
                for(i=0;i<rowCount;i++){
                      table.deleteRow(-1);
                }
               
                let data = results.data;
               if (!data || !data.foodItems){                
                  return;
                }
               
            //      let data = Object.keys(mountains[0]);
           //     generateTable(table, data.foodItems); // generate the table first
           //     generateTableHead(table, data.foodItems); // then the head
                                
                
                  data.foodItems.forEach(foodItem => {
                    //alert("Data: " + foodItem.foodName + "\nStatus: " + data.status);
                  
                    var row = table.insertRow(-1);
       
                    var cell1 = row.insertCell(0);
                    var cell2 = row.insertCell(1);
                    var cell3 = row.insertCell(2);
                    var cell4 = row.insertCell(3);
                    var cell5 = row.insertCell(4);

                    cell1.innerHTML = "<a href=`/foodItems/"+foodItem._id+">"+foodItem.foodName+"</a>";   
                    cell2.innerHTML = foodItem.foodQuantity;
                    cell3.innerHTML = foodItem.foodUnits;
                    cell4.innerHTML = "Edit";
                    cell5.innerHTML = "Delete";
                  }) //forEach
                  
              }); //AJAX call
            }); //on event
        }); //function
       /*
        $(function () {
            $('#datetimepicker').datetimepicker({
                  inline: true,
                  showTodayButton: true,
                  onSelect: function (date) {
                    alert(date);
                   //   $('a.ui-state-default').removeClass('ui-state-highlight');
                   //   $(this).addClass('ui-state-highlight');
                  } //end onSelect
            } //end JSON block
        ); //end function()
        */
        function generateTableHead(table, data) {
            let thead = table.createTHead();
            let row = thead.insertRow();
            for (let key of data) {
              let th = document.createElement("th");
              let text = document.createTextNode(key);
              th.appendChild(text);
              row.appendChild(th);
            } //for
        } //for

        function generateTable(table, data) {
          for (let element of data) {
            let row = table.insertRow();
            for (key in element) {
                let cell = row.insertCell();
                let text = document.createTextNode(element[key]);
                cell.appendChild(text);
            } //for
          } //for
        } //function

         function CountRows() {
            var totalRowCount = 0;
            var rowCount = 0;
            var table = document.getElementById("myTable");
            var rows = table.getElementsByTagName("tr")
            for (var i = 0; i < rows.length; i++) {
                totalRowCount++;
                if (rows[i].getElementsByTagName("td").length > 0) {
                    rowCount++;
                }
            }
            return rowCount;
        }
    </script>
</div>
</div>
<div class="col-sm-6">

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Diary</a></li>
    <li><a data-toggle="tab" href="#menu1">Activity</a></li>
    <li><a data-toggle="tab" href="#menu2"></a>Profile</a></li>
    <li><a data-toggle="tab" href="#menu3">Targets</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <table class="table table-striped" id="myTable">
        <thead>
          <tr>
            <th>Food Name</th>
            <th>Quantity</th>
            <th>Units</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <% if(foodItems) { %>
            <% foodItems.forEach(foodItem => { %>
            <tr>
              <td>
                <a href="<%= `/foodItems/${foodItem._id}` %>">
                  <%= foodItem.foodName %>
                </a>
              </td>
              <td>
                <%= foodItem.foodQuantity %>
              </td>
              <td>
                <%= foodItem.foodUnits %>
              </td>
              <td>
                <a href="<%=`foodItems/${foodItem._id}/edit`%>">
                  Edit
                </a>
              </td>
              <td>
                <a href="<%= `foodItems/${foodItem._id}/delete?_method=DELETE` %>" onclick="return confirm('Are you sure you want to delete this record?')">Delete</a>
              </td>
            </tr>
            <% }); %>
        <% } %> 
        </tbody>
      </table>

    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>Menu 1</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Menu 2</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
    <div id="menu3" class="tab-pane fade">
      <h3>Menu 3</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
  </div>
</div>



<!--modal pop-up window-->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
