<div class="col-sm-6"> <!--calander control-->
  <div style="overflow:hidden;">
    <div class="form-group">
        <div class="row">
            <div class="col-md-8">
                <div id="datetimepicker" onDateChange="dIt()"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
       
        $(function () {
            $('#datetimepicker').datetimepicker({
                inline: true,
                showTodayButton: true,
                maxDate: Date(), //dont allow future dates
            });
            $('#datetimepicker').on('dp.change', function(e){ 
              console.log(e.date); 
              //var tblBody = document.getElementById("diary_entries");
            
             var strDate = (e.date).toISOString().substring(0,10); //get year yyyy-mm-dd
             
              var stringEndpoint = "/api/food/"+strDate;
         //     $.get("/api/food/2020-04-01", (results ={}) =>{
              $.get(stringEndpoint, (results ={}) =>{
               
                //clear down table rows
                var table = document.getElementById("diaryTable");
                var rowCount = CountRows(); //dont want to delete headers
                for(i=0;i<rowCount;i++){
                      table.deleteRow(-1);
                }
               
                let data = results.data;
               if (!data || !data.foodItems){                
                  return;
                }
                                  
                
                  data.foodItems.forEach(foodItem => {
                    //alert("Data: " + foodItem.foodName + "\nStatus: " + data.status);
                  
                    var row = table.insertRow(-1);
       
                    var cell1 = row.insertCell(0);
                    var cell2 = row.insertCell(1);
                    var cell3 = row.insertCell(2);
                    var cell4 = row.insertCell(3);
                    var cell5 = row.insertCell(4);
                    var cell5 = row.insertCell(4);

                    cell1.innerHTML = "<a href=`/foodItems/"+foodItem._id+">"+ foodItem.foodName+"</a>";   
                    cell2.innerHTML = foodItem.foodQuantity;
                    cell3.innerHTML = foodItem.foodUnits;
                    cell4.innerHTML = foodItem.calories;
                    cell5.innerHTML = "Edit";
                    cell6.innerHTML = "Delete";
                  }) //forEach
                  
              }); //AJAX call
            }); //on event
        }); //function

        function generateTableHead(table, data) {
            let thead = table.createTHead();
            let row = thead.insertRow();
            for (let key of data) {
              let th = document.createElement("th");
              let text = document.createTextNode(key);
              th.appendChild(text);
              row.appendChild(th);
            } //for
        } //for

        function generateTable(table, data) {
          for (let element of data) {
            let row = table.insertRow();
            for (key in element) {
                let cell = row.insertCell();
                let text = document.createTextNode(element[key]);
                cell.appendChild(text);
            } //for
          } //for
        } //function

         function CountRows() {
            var totalRowCount = 0;
            var rowCount = 0;
            var table = document.getElementById("diaryTable");
            var rows = table.getElementsByTagName("tr")
            for (var i = 0; i < rows.length; i++) {
                totalRowCount++;
                if (rows[i].getElementsByTagName("td").length > 0) {
                    rowCount++;
                }
            }
            return rowCount;
        }

        //https://www.w3resource.com/javascript-exercises/javascript-basic-exercise-50.php#:~:text=ES6%20Version%3A&text=toUpperCase()%20%2B%20str%5Bi%5D.,word%20of%20a%20given%20string.
        function capital_letter(str) 
        {
            str = str.split(" ");

            for (var i = 0, x = str.length; i < x; i++) {
                str[i] = str[i][0].toUpperCase() + str[i].substr(1);
            }
            return str.join(" ");

        }
    </script>
</div>
</div>
<div class="col-sm-6">
  
  <h2 class="h2">Pet Daily Diary</h2>
      <table class="table table-striped" id="diaryTable">
        <thead>
          <tr>
            <th>Description</th>
            <th>Amount</th>
            <th>Units</th>
            <th>Calories</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
         
          <% if(typeof(foodItems)=="undefined")
          {}
          else { %>
            <% foodItems.forEach(foodItem => { %>
            <tr>
              <td>
                <a href="<%= `/foodItems/${foodItem._id}` %>">
                  <%= foodItem.foodName %>
                </a>
              </td>
              <td>
                <%= foodItem.foodQuantity %>
              </td>
              <td>
                <%= foodItem.foodUnits %>
              </td>
              <td>
                <%= foodItem.calories %>
              <td>
                <a href="<%=`foodItems/${foodItem._id}/edit`%>">
                  Edit
                </a>
              </td>
              <td>
                <a href="<%= `foodItems/${foodItem._id}/delete?_method=DELETE` %>" onclick="return confirm('Are you sure you want to delete this record?')">Delete</a>
              </td>
            </tr>
            <% }); %>
        <% } %> 
        </tbody>
      </table>
  </div>
</div>




