<h2>Courses Table</h2>
<table class="table">
  <thead>
    <tr>
      <th>Food Name</th>
      <th>Food Quantity</th>
      <th>Food Units</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% foodItems.forEach(foodItem => { %>
    <tr>
      <td>
        <a href="<%= `/foodItems/${foodItem._id}` %>">
          <%= foodItem.foodName %>
        </a>
      </td>
      <td>
        <%= foodItem.foodQuantity %>
      </td>
      <td>
        <%= foodItem.foodUnits %>
      </td>
      <td>
        <a href="<%=`foodItems/${foodItem._id}/edit`%>">
          Edit
        </a>
      </td>
      <td>
        <a href="<%= `foodItems/${foodItem._id}/delete?_method=DELETE` %>" onclick="return confirm('Are you sure you want to delete this record?')">Delete</a>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>